
.drink-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: white;
    padding: 14px 14px 0px 25px;
    border-radius: 3px;
    min-width: 80vw;
    min-height: 80vh;
    z-index: 102;
    display:flex;
    flex-flow: column;
}

.drink-modal-content h2{
    margin:20px 10px 10px 10px;
}

.toppings-section{
    max-height: 50vh;
    flex: 1 1 auto;
    overflow-y: auto;
    margin-bottom: 20px;
}

 h3.topping-header{
    margin: 10px 0px 5px 20px;
}

.modal h2, h3{
    padding-left: 2.5%;
}


.modal h3{
    padding-bottom: 2%;
}


.modal-level-section{
    padding: 0px 50px 0px 50px;
    margin-bottom: 10px;
    max-width: 100%;
    display:grid;
    grid-template-columns: repeat(6,1fr);
    gap:10px;
    
}



.drink-modal-row-content {
    display:flex;
    flex-flow: row;
    flex: 1 1 auto;
    max-height: 73vh;
}

.modal-level-section button, .modal-level-section div{
    aspect-ratio: 1;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-level-section button{
    border-radius: 17px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    background-color: #D9D9D9;
    border: none;
    font-family: "Plus Jakarta Sans", sans-serif;
    border:transparent solid 3px;
    transition: background-color 0.3s ease 0s, color 0.3s ease 0s, border 0.1s ease 0s;
}

.modal-level-section button:hover{
    border: 2px solid black;
}

.modal-level-section button.active{
    background-color: #ED323A;
    color: white;
}

.drink-modal-left-panel{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 20px 12px 0px 0px;
    
}

.drink-modal-right-panel{

    flex: 1; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.drink-order-panel{
    background-color: #EFEFEF;
    height: 100%;
    width: 90%;
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.drink-order-panel h4{
    margin:10px 10px 10px 10px;
}

.drink-order-panel div.middle-section{
    width: 100%;
    flex:1;
}

.drink-order-panel span.divider{
    width: 90%;
    height: 3px;
    border-radius: 25px;
    background-color: black;
}


.drink-order-panel div.bottom-section{
    width: 90%;
    margin-bottom: 10px;
}

.drink-order-panel div.bottom-section p{
    font-size: 20px;
    margin:5px;
    text-align: center;
    font-weight: 700;
}





.drink-item-card {
    display: flex;
    flex-direction: column;
    width: 85%;
    padding: 10px;
    background-color: #E2E2E2;
    margin: auto;
    font-weight: 700;
    border-radius: 5px;
}

.drink-item-card div.drink,.drink-item-card div.drink-attribute{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.drink-item-card div.drink p{
    font-size: 15px;
    margin:0;
    text-align: left;
}

.drink-item-card div.drink p.name{
    flex:1;
}

.drink-item-card div.drink p.price{
    color: #787878;
    width: 25%;
}

.drink-item-card div.drink-attribute p{
    font-size: 12px;
    margin:0;
    color: #787878;
    text-align: left;
}

.drink-item-card div.drink-attribute p.name{
    flex:1;
    padding-left: 10px;
}

.drink-item-card div.drink-attribute p.price{
    width: 25%;
    padding-right: 10px;
}

.toppings-container{
    overflow: visible;
    display:grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 20px;
    row-gap: 10px;
    padding-left: 10px;
    padding-right: 10px;

}

.close-modal{
    border-radius: 17px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    background-color: #D9D9D9;
    border: none;
    font-family: "Plus Jakarta Sans", sans-serif;
    border:transparent solid 3px;
    transition: background-color 0.3s ease 0s, color 0.3s ease 0s, border 0.1s ease 0s;
}

.close-modal:hover{
    border: 2px solid black;
}