/* styles.css */

body {
    margin: 0;
  }
  
  footer {
    background-color: white;
    padding-top: 100px;

    text-align: center;
  }
  
  .container {
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logoImg {
    width: 100px;
    margin-right: 10px;
    
  }
  
  .logoText {
    font-weight: bold;
    font-size: 1.2em;
  }
  
  
  .social {
    display: flex;
    justify-content: center;
    width: 100%;
}
  
  .socialLink {
    margin: 5px;
    text-decoration: none;
    color: black;
  }
  
  .bottomBar {
    margin-top: 20px;
  }

  .socialContainer {
    padding-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .socialLink {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
  }
  .iconWrapper {
    width: 40px; /* Adjust the size of the circular wrapper */
    height: 40px; /* Adjust the size of the circular wrapper */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black; /* Border color */
    border-radius: 50%;
    transition: border-color 0.3s ease-in-out;
  }
  
  
  .socialIcon {
    font-size: 24px;
    color: black; /* Default icon color */
  }
  
  .iconWrapper:hover {
    transition: 0.5s;
    border-color: #ed323a;
    background-color: #ed323a; /* Change to the desired border color on hover */
  }
  
  .iconWrapper:hover .socialIcon {
    color: white; /* Change to the desired icon color on hover */
  }
  

  
  