@import "../../variables.css";

/* Home */
.box {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.box .row.content {
  flex: 1 1 auto;
}

.content {
  display: flex;
  flex-flow: row;
  align-items: center;
}

span.panel-divider {
  height: 95%;
  width: 4px;
  background-color: #e2e2e2;
  border-radius: 99px;
}

/* LeftPanel */

.leftpanel {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.leftpanel-order-component {
  margin: 0px auto 0px auto;
  height: 40%;
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 10px;
  background-color: #EFEFEF;
  margin: auto;
  font-weight: 700;
}

.leftpanel-order-component div.drink {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.leftpanel-order-component div.drink p {
  font-size: 15px;
  margin: 0;
  text-align: left;
}

.leftpanel-order-component div.drink p.name {
  flex: 1;
}

.leftpanel-order-component div.drink p.price {
  color: #787878;
  width: 25%;
}


.delete-drink-button{
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}

.leftpanel-category-component {
  flex: 1 1 auto;
  padding: 15px 0px 0px 0px;
  width: 90%;
}

.leftpanel-category-component ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.leftpanel-category {
  padding-left: 20px;
  width: 65%;
  margin: 5px auto;
  font-size: 16px;
}

.leftpanel-category.header {
  font-weight: 800;
  margin-bottom: 10px;
}

.leftpanel a {
  text-decoration: none;
  color: black;
}

.leftpanel-category.item {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 99px;
  transition: transform 0.3s ease;
}

.leftpanel-category.item.active {
  background-color: black;
  color: white;
}

.leftpanel-category.item:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* CSS */
button.leftpanel-checkout-button {
  appearance: button;
  background-color: #a6242a;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin: 15px auto 20px auto;
  outline: none;

  overflow: visible;
  padding: 13px 0px;
  text-align: center;

  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  width: 90%;
}

button.leftpanel-checkout-button:after {
  background-clip: padding-box;
  background-color: #ed323a;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

button.leftpanel-checkout-button:main,
button.leftpanel-checkout-button:focus {
  user-select: auto;
}

button.leftpanel-checkout-button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

button.leftpanel-checkout-button:disabled {
  cursor: auto;
}

button.leftpanel-checkout-button:active {
  border-width: 4px 0 0;
  background: none;
}

/* DrinkPanel */
.drinkpanel {
  height: calc(100vh - var(--navbarHeight));
  width: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.drinkpanel-category {
  /* background-color: red; */
  /* border: 1px solid black; */
  padding: 20px;
}

.drink-cards {
  margin: 0 auto;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.fill-gap {
  height: 20%;
}
