
.box {
    display: flex;
    flex-flow: column;
    height: 100vh;
}


.box .row.content {
    flex: 1 1 auto;
  }

.content {
    display:flex;
    flex-flow: row;
    align-items: center;

}

span.panel-divider {
    height: 95%;
    width: 4px;
    background-color: #E2E2E2;
    border-radius: 99px;

}
