body.active-modal {
    overflow-y: hidden;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(255, 255, 255, 0.5);
    z-index: 101;
}

.signinmodal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.6;
    background: #ffffff;
    padding: 20px 40px;
    border-radius: 8px;
    max-width: 400px;
    min-width: 300px;
    z-index: 102;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}


.MuiTextField-root {
    margin-bottom: 20px;
    width: 100%;
}

.close-modal {
    background-color: #ccc;
    color: #333;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

button {
    background-color: #ED323A;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    cursor: pointer;
    outline: none;
    position: relative;
}

.sign-in-btn {
    margin-top: 20px;
    padding: 8px 20px;
}

button:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 10px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0.7;
    transition: all 0.3s ease;
    z-index: -1;
}

button:hover {
    background-color: darken(#E74C3C, 10%);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), 0 12px 24px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

button:hover:before {
    height: 5px;
}

button:active {
    transform: translateY(1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:active:before {
    height: 15px;
    opacity: 0.3;
}

.modal {
    font-family: 'Plus Jakarta Sans', sans-serif;
}