body.active-modal {
    overflow-y: hidden;
    
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.overlay {
    background: rgba(0, 0, 0, 0.394);
    z-index: 101;

}
.signinmodal-content {
   
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 50px 50px 50px 50px;
    border-radius: 20px;
    
    max-width: 600px;
    min-width: 300px;
    z-index: 102;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.signin-button{
    margin-left: 10px;
    padding: 14px 14px 14px 14px;
    border-radius: 17px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    background-color: #D9D9D9;
    border: none;
    font-family: "Plus Jakarta Sans", sans-serif;
    border:transparent solid 3px;
    transition: background-color 0.3s ease 0s, color 0.3s ease 0s, border 0.1s ease 0s;
}

.signin-button:hover{
    border: 2px solid black;
}




