.Landing {
    text-align: center;
    background-color: var(--pageBGColor);
  }

  body, html {
    overflow-x: hidden;
  }
  
  
  .about-us {
    padding-top: 100px;
    max-width: 50%;
    margin: auto;
    text-align: center; /* Align text to the left within the "about-us" div */
    
  }
  
  .about-us h4 {
    font-size: 40px; /* Adjust the font size for the heading */
  }
  
  .about-us #t {
    font-size: 24px; /* Adjust the font size for the paragraph */
    line-height: 1.5; /* Set the line height for better readability */
  }

  .T {
    margin-top: 50px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid #333;
    color: #333;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 15px;
  }
  
  
  .T:hover {
    background-color: #ed323a;
    color: #fff;
  }

  .weather-container {
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }