.nav-wrapper {
  /* Your CSS rules go here */
  background-color: white;
  margin: 0px;
  border-radius: 0px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1 );
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 25px;
  overflow: hidden;
  background-color: white;
  text-align: center;
}

li {
  float: right;
  border-radius: 5%; 
}

li button {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
  border: none;
  font-weight: 300;
  text-decoration: none;

}

li button:hover {
  background-color: #111;
  color:white;
}

#circle{
    background-color: #ED323A;

    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 400px; /* Set the width and height to define the size of the circle */
    height: 400px;
    top:-260px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}

.logo{
    position: absolute;
    top:-150px;
    transform: translateX(-50%) scale(0.25);
    left: 50%;
}